<%= form_for ([@account, @note])  do |f| %>

<div class="form-group">
    <%= f.label :comment %><br>
    <%= f.text_field :comment, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>