<p id="notice"><%= notice %></p>

<p>
  <strong>Program:</strong>
  <%= @program.program %>
</p>

<%= link_to 'Edit', edit_program_path(@program), class: "btn btn-link" %> |
<%= link_to 'Back', programs_path, class: "btn btn-link" %>
