<div class="container">
<div class="jumbotron">
  <div class="center">
  <h1>Bridges InTake App</h1>
  <p>This Application Is For Bridges Employees Only.</p>
  <%= link_to "Sign in", new_user_session_path, class: "btn btn-primary btn-lg" %>
</div>
</div>
</div>