  <div class="jumbotron">
  <div class="center-text">
    <% if user_signed_in? %>
  <h1>Bridges InTake App</h1>
  <p>Please Remember to Log Out Once You Are Done.</p>
  <% else %> 
  <h1>Welcome To Bridges InTake App</h1>
  <p>For Bridges Employees Only.</p>
  <div class="btn"></div>
  <center><%= link_to "Sign in", new_user_session_path, class: "btn btn-primary btn-lg" %></center>
  </div>
  <br>
  <br>
  <blockqoute>
    <div class="blockqoute">
    The true sign of intelligence is not knowledge but imagination.<br>
    ~ Albert Einstein
  </blockqoute>
  </div>
  <% end %>
</div>
</div>