/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url(http://fonts.googleapis.com/css?family=Ribeye);
body {
  padding-top: 30px;
  background-color: #A9D0F5;
}

.container .navbar {
  background: #A9D0F5;
}

.jumbotron {
  background: url(https://s3.amazonaws.com/intakelog/site_showcase_bg.jpg) no-repeat center !important;
  height:500px; 
	overflow:none;
	color: #fff;
  
}
  
 .jumbotron h1 {
    color: #fff !important;
    font-weight: bold;
    text-align: center;
    font-family: 'Ribeye', cursive !important;
  }
  
 .jumbotron p{
  color: #fff;
  text-align: center;
  font-family: 'Ribeye', cursive !important;
}

 .blockqoute {
  color: #fff;
  text-align: center;
}

.container .footer {
  background-color: #A9D0F5;
  text-align: center;
  border-top: 1px solid #A9D0F5;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  margin-top: 60px;
}
 
.form-control {
    width: 45% !important;
} 
 
.form-control-nav {
    width: 100%; 
} 