.container .jumbotron {
  background-color: #fdf8e1;
  border: 10px solid #f2cb3b;
  padding-right: 120px;
  padding-left: 120px;
  padding: 120px 120;
  h2 {
    color: #c41200;
    font-weight: bold;
  }
}